.jumbtron {
    padding: 200px;
}

.card-custom-type {
    height: 450px;
}

.ensolarado {
    background-image: url(../../assets/Img/ensolarado.jpeg);
    background-position: center;
    background-size: cover;
}
.nublado {
    background-image: url(../../assets/Img/nublado.jpeg);
    background-position: start;
    background-size: cover;
}
.chuva-leve {
    background-image: url(../../assets/Img/chuvaLeve.jpeg);
    background-position: start;
    background-size: cover;
}
.chuva-forte {
    background-image: url(../../assets/Img/chuvaForte.jpeg);
    background-position: start;
    background-size: cover;
}
.tempestade {
    background-image: url(../../assets/Img/chuvaForte.jpeg);
    background-position: center;
    background-size: cover;
}
.nevoeiro {
    background-image: url(../../assets/Img/nevoeiro.jpeg);
    background-position: start;
    background-size: cover;
}
